<footer class="footer">

    <!-- Social buttons -->

    <div class="RsButton">
        <div class="rs">
            <a href="#">
                <i class="fa-brands fa-facebook fb"></i>
            </a>
        </div>
        <div class="rs">
            <a href="#">
                <i class="fa-brands fa-twitter tw"></i>
            </a>
        </div>
        <div class="rs">
            <a href="#">
                <i class="fa-brands fa-linkedin-in ld"></i>
            </a>
        </div>
        <div class="rs">
            <a href="#">
                <i class="fa-brands fa-pinterest pr"></i>
            </a>
        </div>
    </div>

    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright">
        <a> ©<?php echo date('Y') ?> GMI - Gestion Matériel Informatique | Tous droits réservés</a>
    </div>
    <!-- Copyright -->

</footer>